/* .DropDown {
	position: relative;
	display: inline-block;
}
.DropDownContent {
	display: none;
	position: absolute;
	z-index: 1;
	height: 100px;
}

.DropDownContent li {
	display: block;
}
.DropDown:hover .DropDownContent {
	display: block;
	background: red;
	height: 200px;
}
.Slider {
	transition: height 4s;
	border: 5px solid blue;
	height: 100px;
	width: 200px;

}
.Slider:hover {
	height: 400px;
	width: 400px;
} */
#box {
	width: 400px;
	height: 400px;
	background: orange;
	margin: 0 auto;
	margin-top: 3%;
	overflow: hidden;
}
