body {
   margin: 0;
   padding: 0;
   font-family: effra, sans-serif;
}

.NewProducts-Section {
    background: rgba(241, 241, 241, 0.4);
}

.NewProducts-Section h2 {
    justify-content: center;
    display: flex;
}

.NewProducts-Section-Products {
    display: flex;
    justify-content: center;
}

.NewProducts-Section-Products-Product {
    margin: 1rem;
    margin-left: 5rem;
}

.NewProducts-Section-Products-Product-Title-Image-Container h5 {
    margin-left: 8rem;
}

.NewProducts-Section-Products-Product-Title-Image-Container {
    background: white;
}
