body {
	margin: 0;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;

	font-size: 18px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
