.navbar {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background-image: linear-gradient(to right, #eff0f1, #2196f3, #eff0f1);
	padding: 10px;
	font-size: 20px;
	height: 5em;
}

.navbarRight,
.navbarLeft {
	display: inline-block;
	justify-self: center;
	align-self: center;
}

.navbarMid {
	display: flex;
	justify-content: center;
	justify-self: center;
	align-self: center;
}

#navbarRightElement,
#navbarLeftElement {
	display: inline-block;
	padding: 8px 12px;
	margin: 0 8px;
	text-decoration: none;
}

#navbarRightElement {
	float: right;
	text-decoration: none;
}

.fa {
	font-size: 23px;
	padding-right: 5px;
	padding-left: 5px;
}

.navbarLeft .SearchForm {
	position: relative;
	-webkit-animation-name: searchMovement; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
	animation-name: searchMovement;
	animation-duration: 2s;
}

#navbarSides .Search-active {
	visibility: visible;
	opacity: 1;
	transition: opacity 2s linear;
	display: inline-block;
}

#navbarSides .Search-inactive {
	visibility: hidden;
	opacity: 0;
	display: none;
}

#menu {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 100%;
	height: 10em;
	background-image: linear-gradient(to right, #eff0f1, #2196f3, #eff0f1);
	-webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
	animation-duration: 2s;
}

@keyframes menu {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
#navbarBottomElement {
	margin: 16px auto;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes searchMovement {
	0% {
		left: 80px;
		top: 0px;
	}
	100% {
		left: 0px;
		top: 0px;
	}
}

/* Standard syntax */
@keyframes searchMovement {
	0% {
		left: 80px;
		top: 0px;
	}
	100% {
		left: 0px;
		top: 0px;
	}
}
