.navbar {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	/*background-image: linear-gradient(to right, #eff0f1, #2dace3, #eff0f1);*/
	height: 5em;
}

.navbarRight,
.navbarLeft {
	display: inline-block;
	justify-self: center;
	align-self: center;
}

.navbarMid {
	display: flex;
	justify-self: center;
	align-self: center;
}

#navbarRightElement,
#navbarLeftElement {
	display: inline-block;
	padding: 8px 12px;
	margin: 0 8px;
	text-decoration: none;
	color: black;
}

#navbarRightElement {
	float: right;
}

#navbarBottomElement {
	margin: 40px auto;
	text-decoration: none;
	color: black;
}

.fa {
	font-size: 23px;
	padding-right: 5px;
	padding-left: 5px;
}

.navbarLeft .SearchForm {
	position: relative;
	-webkit-animation-name: searchMovement; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
	animation-name: searchMovement;
	animation-duration: 2s;
}

#navbarSides .Search-active {
	visibility: visible;
	opacity: 1;
	transition: opacity 2s linear;
	display: inline-block;
}

#navbarSides .Search-inactive {
	visibility: hidden;
	opacity: 0;
	display: none;
}

#navbarSides #menu {
	display: grid;
	margin: 0 auto;
	position: absolute;
	box-shadow: 1px 1px;
	justify-content: center;
	width: 100%;
	height: 10em;
	background: rgba(216, 216, 216, 0.9);
	grid-template-columns: repeat(4, 0.09fr);
	grid-template-rows: 1fr;
	-webkit-animation-name: menuMovement; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
	animation-name: menuMovement;
	animation-duration: 2s;
	z-index: 99;
}

.fa.fa-bars.inactive{
	display: none;
}

.fa.fa-close.inactive{
	display: none;
}

.fa.fa-close.active{
	display: "inline-block";
}

.unordList {
	list-style-type: none;
	padding: 0;
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes searchMovement {
	0% {
		left: 50px;
		top: 0px;
	}
	100% {
		left: 0px;
		top: 0px;
	}
}

/* Standard syntax */
@keyframes searchMovement {
	0% {
		left: 50px;
		top: 0px;
	}
	100% {
		left: 0px;
		top: 0px;
	}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes menuMovement {
	0% {
		left: 0px;
		top: 50px;
	}
	100% {
		left: 0px;
		top: 50px;
	}
}

/* Standard syntax */
@keyframes menuMovement {
	0% {
		left: 0px;
		top: 50px;
	}
	100% {
		left: 0px;
		top: 0px;
	}
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 500px) {
	#navbarSides #menu {
		display: none;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	a#navbarRightElement.Menu {
    	margin-left: -5px;
	}

	input#navbarLeftElement.navbarSearchField {
		margin-left: -10px;
	}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
	form.SearchForm, a#navbarLeftElement.Search {
		display: none;
	}

	span.navbarMenu, span.navbarProfile{
		display: none;
	}

	div#navbarSides.navbarRight {
		margin-left: -0.4em;
	}

	#navbarSides #menu{
		width: 100%;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
	a#navbarLeftElement.Close {
    	display: none;
	}
}



/**
 * REF : https://codepen.io/sedran/pen/GYPevV;
 */
:root{
    --bg-color: #d8d8d8;
}

/* title styles */
.home-title span{
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1.2;
    text-align: center;
}

.home-title span::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #2dace3;
    animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}

.home-title span::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}

.home-title span:nth-of-type(1)::before,
.home-title span:nth-of-type(1)::after{
    animation-delay: 1s;
}

.home-title span:nth-of-type(2)::before,
.home-title span:nth-of-type(2)::after{
    animation-delay: 1.5s;
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}