.Header{
    display: grid;
    grid-template-columns: 1.4fr 0.8fr 0.5fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    background-color: #172635;
}
#logo{
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-left: 10rem;
}
.Logo{
    width: 270px;
    cursor: pointer;
}
.NavContent{
    display: flex;
    align-self: end;
    color: gainsboro;
    font-size: large;
}
#navbardrop{
    color: gainsboro;
}
#navLinkAboutUs{
    padding-right: 3.5rem;
    padding-left: 3.5rem;
}
#navbardrop:hover{
    color: white;
    text-decoration: underline;
}
#navLinkAboutUs:hover{
    color: white;
    text-decoration: underline;
}
#navLinkContact:hover{
    color: white;
    text-decoration: underline;
}
.fa-users:hover{
    color: white;
}
.fa-user:hover{
    color: white;
}
.UserRegisterAndLogin{
   display: flex;
   justify-content: center;
   align-items: end;
   align-self: end;
   height: max-content;
   margin: 0 auto;
   padding: 1rem;
   color: gainsboro;
   cursor: pointer;
}

.modal-title{
    display: contents;
    font-weight: 700;
}

.dropright {
  position: relative;
}

.dropright .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

.dropdown-menu {
    padding: 0px !important;
    top: 8.88rem !important;
    left: 52% !important;
    min-width: 12rem !important;
}

.dropright .dropdown-menu {
    top: 8px !important;
    margin-top: -8px;
    margin-left: 5.7rem;
}
#dropDownBtn{
    color: black;
    padding: 8px !important;
    width: 100% !important;
    background-color: white;
    border-radius: 0px !important;
}


#dropDownBtn.focus, #dropDownBtn:focus, #dropDownBtn:hover{
    background-color: lightgrey;
    color: #172635 !important;
    display: block;
    outline: none !important;
}

#dropDownSecondBtn{
    color: black;
    padding: 8px !important;
    width: 100% !important;
    background-color: white;
    border-radius: 0px !important;
}

#dropDownSecondBtn.focus, #dropDownSecondBtn:focus, #dropDownSecondBtn:hover{
    background-color: lightgrey;
    color: #172635 !important;
    display: block;
    outline: none !important;
}

.dropdown-item{
    display:block;
    background-color: white;
    color: black;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.dropdown-item:hover{
     background-color: lightgrey;
}



